<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.verifyconnectivitymodule">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
    <activity
        android:theme="@style/AppTheme.NoActionBar"
        android:name=".ui.WarningScreenActivity"
        android:screenOrientation="portrait" />

        <receiver
            android:name=".receivers.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
